body,
html {
  margin: 0px;
  padding: 0px;
  position: fixed;
  background: black;
}


.myprofile {
  text-decoration: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  border: 0.2rem solid #000000;
  transition: all 0.1s linear;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.myprofile1 {
  
}

.social-section {
  text-align: center;
  margin-top: 1rem;
  position: relative; /* Add this */
  z-index: 1001; /* Add this */
  text-decoration: none;
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6.5rem;
  height: 6.5rem;
  transition: all 0.1s linear;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-icon {
  display: inline-block;
  margin: 0 0.5rem;
  text-decoration: none;
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6.5rem;
  height: 6.5rem;
  transition: all 0.1s linear;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-icon img {
  width: 2rem;
  height: 2rem;
  text-decoration: none;
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.2rem solid #000000;
  transition: all 0.1s linear;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}